body{
    background-color: #ccc;
    font-size: 2rem;
}

.selections{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80px;
    padding-top: 30px;
    padding-bottom: 50px;
}

.results{
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(2,1fr);
    justify-content: center;
    align-items: center;
}

.selection{
    cursor: pointer;
    font-size: 3rem;
    transition: 2s;
}

.selection:hover{
    transform: scale(2.2);
}

.score{
    font-size: 1rem;
    padding: 5px;
}

.result-selection.winner{
    opacity: 1;
    font-size: 3rem;
}

.result-selection{
    opacity: .4;
}

/* for smaller devices */
/* 
@media only screen and (max-width:470px){
    .selection:hover{
        transform: scale(1.1)
    }
} */